/*@import url(base.css);*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    /*background: black;*/
    /*font-size: 16px;*/
    /*font-family: "微软雅黑","宋体";*/
}
body{
    position: absolute;
    /*background: url("../img/yuyin.png") no-repeat 0;*/
    background: #ffffff;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
}
.size{
    width: 7.5rem;
    height: 13rem;
}
.word{
    width: 1.41rem;
    height: 0.47rem;
    font-size: 0.32rem;
    color: #ffffff;
    top: 2.12rem;
    left: 3.1rem;
    text-align: center;
    line-height: 0.47rem;
    position: absolute;
}
.word1{
    width: 3.19rem;
    height: 0.51rem;
    font-size: 0.24rem;
    color: rgb(255,255,255,0.5);
    top: 2.59rem;
    left: 2.17rem;
    text-align: center;
    line-height: 0.51rem;
    position: absolute;
}
.before{
    width: 3.54rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    background:#ffc335;
    position: absolute;
    left: 2rem;
    top: 10.54rem;
    font-size: 0.24rem;
    font-family: "苹方 粗体";
    color: #ffffff;
    text-align: center;
    line-height: 0.7rem;
    box-shadow: 0 0.1rem 0.4rem 0.005rem #f8cb59;
}
